@{
    Layout = "_Layout";
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron text-center mt-5 mb-5 bg-light p-5 rounded shadow-lg">
    <h1>Добро пожаловать в кабинет массажа!</h1>
    <p>Наш салон предлагает профессиональные процедуры расслабляющего и лечебного массажа.</p>
    <a class="btn btn-primary" href="@Url.Action("Index", "Massages")">Посмотреть услуги</a>
    <a class="btn btn-success" href="@Url.Action("Index", "Bookings")">Записаться на приём</a>
</div>